@Model CRUD.Models.Hospitals;

<Section>
    <div>
        <form Method="post" Action="/hospitals/updatehospital">
            <!--<div>
                <Label for="hospitalname">Hospitalname</Label>
                <Input Type="text"
                       Name="hospitalname" value="@Model.HospitalName">
            </div>
            <div>
                <Label for="decisionmaker">decisionmaker</Label>
                <Input Type="text" Name="decisionmaker"
                       Placeholder="decisionmaker" value="@Model.DecisionMaker">
            </div>
            <div>
                <Label for="email" Class="col-Sm-2 Control-Label">email</Label>
                <Input Type="email" Name="email"
                       Placeholder="email" value="@Model.Email">
            </div>
            <div>
                <Label for="phone">Phone</Label>
                <Input Type="text" Name="phone"
                       Placeholder="phone" value="@Model.Phone">
            </div>
            <div>
                <Label for="password" Class="col-Sm-2 Control-Label">password</Label>
                <Input Type="password" Name="password"
                       Placeholder="password" value="@Model.Password">
            </div>
            <div>
                <Label for="services" Class="col-Sm-2 Control-Label">services</Label>
                <Input Type="text" Name="services"
                       Placeholder="services" value="@Model.Services">
            </div>
                    <Input Type="hidden" Name="hospitalsid" value="@Model.HospitalId" />
            </div>
            <div>
                <Button Type="submit">Cancel</Button>
                <Button Type="submit">Update</Button>
            </div>-->
    </form>
    </div>
</Section>